#root {
  width: 1000px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: radial-gradient(circle at top, var(--bg-soft), var(--bg-main));
  color: var(--text-main);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 12px;
  background: var(--bg-soft);
  color: var(--text-main);
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--border-main);
}

button:hover {
  background: var(--hover-soft);
}
