:root {
  --bg-main: #1e1e1e;
  --bg-soft: #2a2a2a;
  --text-main: #f5f5f5;
  --text-muted: #bdbdbd;
  --border-main: #444;
  --hover-soft: #3a3a3a;
}

[data-theme="light"] {
  --bg-main: #f4f4f4;
  --bg-soft: #ffffff;
  --text-main: #111;
  --text-muted: #555;
  --border-main: #ddd;
  --hover-soft: #e6e6e6;
}
